<nav class="navbar navbar-expand-lg navbar-dark text-light nav-bk8">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link text-light" routerLink="/admin/adminusers">Admin Users</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link text-light" routerLink="/admin/legalusers">Legal Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/privateusers">Private Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/performerservices">Performer Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/orders">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/socialnetworks">Social Networks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/usertypes">User Types</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/countries">Countries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/countryaudience">Country Audience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/genders">Genders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/admin/genderaudience">Gender Audience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/login" (click)="logOut();">Logout</a>
    </li>
  </ul>
</nav>