<app-admin-header></app-admin-header>
<form autocomplete="off" class="add-form text-center border border-light p-5"
  (ngSubmit)="createGenderAudience(); resetCreateForm();" name="create-form" *ngIf="visibleForm == 'create'">
  <h2>Add gender audience</h2>
  <select class="custom-select mb-4" [(ngModel)]="data.ServiceID" name="selectedService">
    <option selected disabled value="none">Select service...</option>
    <option *ngFor="let service of performerservices" value={{service.ServiceID}}>{{service.ServiceID}}</option>
  </select>
  <select class="custom-select mb-4" [(ngModel)]="data.GenderID" name="selectedGender">
    <option selected disabled value="none">Select gender...</option>
    <option *ngFor="let gender of genders" value={{gender.GenderID}}>{{gender.GenderName}}</option>
  </select>
  <input type="number" min="0" max="100" id="percentage" name="percentage" [(ngModel)]="data.AudiencePercentage"
    class="form-control mb-4" placeholder="AudiencePercentage">
  <button class="btn btn-info" type="submit"
    *ngIf="data.ServiceID != 'none' && gender.GenderID != 'none' && data.AudiencePercentage">Add</button>
  <button class="btn btn-info reset" (click)="resetCreateForm(); visibleForm = ''"
    [ngClass]="{'reset1': !(data.ServiceID != 'none' && gender.GenderID != 'none' && data.AudiencePercentage)}"><i
      class="fa fa-times"></i></button>
</form>
<form autocomplete="off" class="update-form text-center border border-light p-5"
  (ngSubmit)="updateGenderAudience(); resetUpdateForm();" name="update-form" *ngIf="visibleForm == 'update'">
  <h2>Update gender audience</h2>
  <input disabled type="text" id="serviceid" name="serviceid" [(ngModel)]="changingData.ServiceID"
    class="form-control mb-4" placeholder="ServiceID">
  <input disabled type="text" id="genderid" name="genderid" [(ngModel)]="changingData.GenderName"
    class="form-control mb-4" placeholder="GenderID">
  <input type="number" min="0" max="100" id="percentage" name="percentage" [(ngModel)]="changingData.AudiencePercentage"
    class="form-control mb-4" placeholder="AudiencePercentage">
  <button class="btn btn-info" type="submit" *ngIf="changingData.AudiencePercentage">Update</button>
  <button class="btn btn-info reset" (click)="resetUpdateForm(); visibleForm = ''"
    [ngClass]="{'reset1': !(changingData.AudiencePercentage)}"><i class="fa fa-times"></i></button>
</form>
<div class="table-title">
  <div class="row">
    <div class="col-sm-8">
      <h2>Audience <b>Details</b></h2>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-info add-new" (click)="visibleForm = 'create'"><i class="fa fa-plus"></i> Add
        New</button>
    </div>
  </div>
</div>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Service #</th>
      <th scope="col">Gender</th>
      <th scope="col">Audience Percentage, %</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let audience of genderaudience">
      <th scope="row">{{audience.ServiceID}}</th>
      <td>{{audience.GenderID}}</td>
      <td>{{audience.AudiencePercentage}}</td>
      <td>
        <a title="Edit"
          (click)="getGenderAudienceForUpdate(audience.ServiceID, audience.GenderID); visibleForm = 'update'"><i
            class="fa fa-pencil"></i></a>
        <a title="Delete"
          (click)="deleteGenderAudience(audience.ServiceID, audience.GenderID, audience.AudiencePercentage);"><i
            class="fa fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>