<div class="bg">
  <div class="signup-form">
    <form autocomplete="off" (ngSubmit)="createUser();" name="create-form">
      <h2>Create Account</h2>
      <div class="form-check form-check-inline">
        <span class="input-group-addon"><i class="fa fa-handshake-o"></i></span>
        <label class="form-check-label" for="privateuser">
          <input class="form-check-input" type="radio" [(ngModel)]="data.User" name="user" id="privateuser"
            value="privateuser">Private user
        </label>
        <label class="form-check-label" for="legaluser">
          <input class="form-check-input" type="radio" [(ngModel)]="data.User" name="user" id="legaluser"
            value="legaluser">Legal user
        </label>
      </div>
      <div class="form-check form-check-inline">
        <span class="input-group-addon"><i class="fa fa-id-card"></i></span>
        <label class="form-check-label move-right" for="customer">
          <input class="form-check-input" type="radio" [(ngModel)]="data.TypeID" id="customer" name="usertype"
            value="2">Customer
        </label>
        <label class="form-check-label" for="performer">
          <input class="form-check-input" type="radio" [(ngModel)]="data.TypeID" id="performer" name="usertype"
            value="3">Performer
        </label>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-globe"></i></span>
          <select class="custom-select" [(ngModel)]="data.CountryID" name="selectedCountry">
            <option selected disabled value="none">Select country...</option>
            <option *ngFor="let country of countries" value={{country.CountryID}}>{{country.CountryName}}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="data.User == 'privateuser'">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" [(ngModel)]="data.Name" name="username" placeholder="User name"
            required="required">
          <input type="text" class="form-control" [(ngModel)]="data.Surname" style="margin-left: 10px;"
            name="usersurname" placeholder="User surname" required="required">
        </div>
      </div>
      <div class="form-group" *ngIf="data.User === 'legaluser'">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-users"></i></span>
          <input type="text" class="form-control" [(ngModel)]="data.CompanyName" name="companyname"
            placeholder="Company name" required="required">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-phone"></i></span>
          <input type="phonenumber" class="form-control" [(ngModel)]="data.PhoneNumber" name="phonenumber"
            placeholder="Phone Number" required="required">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control" [(ngModel)]="data.Email" name="email" placeholder="Email Address"
            required="required">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" [(ngModel)]="data.Password" name="password" placeholder="Password"
            required="required">
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
      </div>
      <div class="text-center">Already have an account? <a routerLink="/login">Login here</a>.</div>
    </form>
  </div>
</div>